In [38]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.sql.types import *
from pyspark.sql import functions as F

In [39]:
spark = SparkSession.builder\
        .appName('transform')\
        .getOrCreate()

In [40]:
df= spark.read.parquet('../../data/processed/part-00000-93a63093-38e6-4c79-9597-cf30e93b080c-c000.snappy.parquet')
df.show()

+---------+----------------+---------------+--------------------+------+---------------+-------------+------------------+------------+----------------+------------+
|work_year|experience_level|employment_type|           job_title|salary|salary_currency|salary_in_usd|employee_residence|remote_ratio|company_location|company_size|
+---------+----------------+---------------+--------------------+------+---------------+-------------+------------------+------------+----------------+------------+
|     2024|              SE|             FT|         AI Engineer|202730|            USD|       202730|                US|           0|              US|           M|
|     2024|              SE|             FT|         AI Engineer| 92118|            USD|        92118|                US|           0|              US|           M|
|     2024|              SE|             FT|       Data Engineer|130500|            USD|       130500|                US|           0|              US|           M|
|     2024|              SE|             FT|       Data Engineer| 96000|            USD|        96000|                US|           0|              US|           M|
|     2024|              SE|             FT|Machine Learning ...|190000|            USD|       190000|                US|           0|              US|           M|
|     2024|              SE|             FT|Machine Learning ...|160000|            USD|       160000|                US|           0|              US|           M|
|     2024|              MI|             FT|         ML Engineer|400000|            USD|       400000|                US|           0|              US|           M|
|     2024|              MI|             FT|         ML Engineer| 65000|            USD|        65000|                US|           0|              US|           M|
|     2024|              EN|             FT|        Data Analyst|101520|            USD|       101520|                US|           0|              US|           M|
|     2024|              EN|             FT|        Data Analyst| 45864|            USD|        45864|                US|           0|              US|           M|
|     2024|              SE|             FT|       Data Engineer|172469|            USD|       172469|                US|           0|              US|           M|
|     2024|              SE|             FT|       Data Engineer|114945|            USD|       114945|                US|           0|              US|           M|
|     2024|              EX|             FT|        NLP Engineer|200000|            USD|       200000|                US|           0|              US|           M|
|     2024|              EX|             FT|        NLP Engineer|150000|            USD|       150000|                US|           0|              US|           M|
|     2024|              MI|             FT|      Data Scientist|156450|            USD|       156450|                US|         100|              US|           M|
|     2024|              MI|             FT|      Data Scientist|119200|            USD|       119200|                US|         100|              US|           M|
|     2024|              SE|             FT|        Data Analyst|170000|            USD|       170000|                US|           0|              US|           M|
|     2024|              SE|             FT|        Data Analyst|130000|            USD|       130000|                US|           0|              US|           M|
|     2024|              SE|             FT|   Applied Scientist|222200|            USD|       222200|                US|           0|              US|           L|
|     2024|              SE|             FT|   Applied Scientist|136000|            USD|       136000|                US|           0|              US|           L|
+---------+----------------+---------------+--------------------+------+---------------+-------------+------------------+------------+----------------+------------+
only showing top 20 rows

In [41]:
columns_to_clean = [
    ('work_year', IntegerType()),
    ('experience_level', StringType()),
    ('job_title', StringType()),
    ('salary', DecimalType()),
    ('salary_currency', StringType()),
    ('salary_in_usd', DecimalType()),
    ('employee_residence', StringType()),
    ('remote_ratio', IntegerType()),
    ('company_location', StringType()),
    ('company_size', StringType())
]

clean_df = df

for column, data_type in columns_to_clean:
    clean_df = clean_df.withColumn(column, col(column).cast(data_type)) \
                       .filter(col(column).isNotNull())

In [42]:
clean_df.coalesce(1).write.parquet("../../data/final", mode='overwrite')